

<div id="surf-profile">
  
  <div class="media">
  
  <div class="user-name">Surfer Profile（<%= @user.name %>）</div>
  <hr>
  <div class="profile-area">
    <div class="profile-info">
        <div>居住地: <%= Prefecture.find_by(id: @user.prefecture_id).name %></div>
        <div>性別: <%= gender_display(@user) %></div>
        <div>レベル: <%= @level[@user.level] %></div>
        <div>コーチング : <%= @teach[@user.teach] %></div>
        <div>板の種類: <%= @board_type[@user.board_type] %></div>
    
    </div> 
    
    <div class="profile-images">
        <div class="profile-images-area">
          <% @user.images.each do |image| %>
            <%= image_tag image.url, class: "profile-image" %>
          <% end %>
        </div>
    </div>
  </div>
  <hr>
      
      <div class="user-show-other">
        <div class="card">
          <img src="/images/surf6.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <%= link_to "投稿一覧",  posts_user_path(@user), class: "btn btn-primary" %>
         </div>
        </div>
        
        
        <div class="card">
          <div class="fontawesome"><i class="far fa-thumbs-up"></i></div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">
              <%= render 'users/static' %>
              
              
              
            </p>
            <%= render 'follow_form' if user_signed_in? %>
          </div>
        </div>
        
        
        <div class="card">
          <div class="fontawesome"><i class="far fa-comments"></i></div>
          <div class="card-body">
            <h5 class="card-title">messeage</h5>
            <p class="card-text"></p>
              <% if current_user == @user %>
                  <!--#自分自身の時は何かしらのユーザ情報を表示するだけ-->
                  <!--#省略（見にくくなるため）-->
              <% else %>
                  <!--# メッセージRoomがすでにある場合はそこへのリンク(showアクション)-->
                  <% if @isRoom == true %>
                    <%= link_to "チャットルームへ",  room_path(@room), class: "btn btn-primary" %>
                  <% else %>
                    <%= form_with model: @room, local: true do |f|%>
                      <%= fields_for @entry do |e|%>
                        <%= e.hidden_field :user_id, :value=> @user.id%>
                        <%= f.submit "メッセージを始める" ,class: 'btn btn-primary mt-4 ml-4'%>
                      <% end %>
                    <% end %>
                  <% end %> 
              <% end %>
          </div>
        </div> 
      </div>
      
  <div class="row">

  </div>

</div>

</div>
    
    
    
    