  <div id="room-show">
    <h3>Chat room</h3>
     <div id="chat-area" class="messages-area">
        <% pre_date = "" %>
        <% @messages.each do |message| %>
          <% if pre_date != message.created_at.to_date %>
            <div class="message-date-changed">----------- <%= message.created_at.to_date %> ------------</div>
          <% end %>
          <%if message.user_id === current_user.id %>
            
            <div class="message-right"><%= message.created_at.strftime("%H:%M") %>&nbsp;&nbsp;<span><%= simple_format(message.content) %></span></div>
          <% else %>
            <div><%= image_tag User.find(message.user_id).images[0].url, class: "chat-icon" %></div>
            <div class="message-left"><span><%= simple_format(message.content) %></span>&nbsp;&nbsp;<%= message.created_at.strftime("%H:%M") %></div>
            
          <% end %>
        
        
          <% pre_date = message.created_at.to_date %>
        <% end %>    <!-- each end -->
    
      </div>
    <hr>
    <%= form_for @message do |f| %>
      <%= f.hidden_field :room_id, :value => @room.id %>
      <div class="send-message-input">
          <%= f.text_area :content %>
          <span><%= f.submit "送信", class: "btn btn-info" %></span>
      </div>
    <% end %>
  </div>
  
<script>
  $(document).on('turbolinks:load', function() { 
     const obj = document.getElementById("chat-area");
 　　 obj.scrollTop = obj.scrollHeight;
  });
</script>