<div id="post-new">
<h1>新規投稿</h1>
<%= form_with model: @post do |f| %>

  <div class= "field">
  タイトル:
      <%= f.text_field :title, required: true %>
  </div>
  
  <div class= "field">
  コメント:
     <%= f.text_area :content, required: true %>
  </div>    
  
  <div class= "field">
  画像:
     <%= f.file_field :images, multiple: true, required: true %>
      <% if @post.errors.messages[:images].present? %>
          <strong>画像は１枚以上選択してください</strong>
      <% end %>
  </div>
  
  <div class= "field">
  動画:
     <%= f.file_field :movie %>
  </div>
  
  <div class= "field">
      <%= f.submit "投稿する" %>
  </div>
<% end %>

</div>

