
<div id="post-show">
    
    <div class="post-show-images">
        <% @post.images.each do |image| %>
          <%= image_tag image.url, class: "post-show-image" %>
        <% end %>
        
    </div>
    <div class="post-show-title"><%= @post.title %></div>
    <div><%= simple_format(@post.content) %></div>
    <div>
        <%= link_to favorite_post_path, class: "btn surf-good-button text-favorite w-100" do %>
        <i class="fa fa-heart"></i><%= current_user.likes?(@post) ? "いいね解除" : "いいね" %>
        <% end %>
    </div>
</div>

